# {{ansible_managed}}

################################################################
# Global configuration
################################################################

defaultEntryPoints = ["http"]

[entryPoints]
    [entryPoints.http]
    address = ":80"

[retry]

[healthcheck]
interval = "15s"

################################################################
# Web configuration backend
################################################################

[web]
address = ":8080"

[web.metrics.prometheus]

################################################################
# Consul KV configuration backend
################################################################

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "traefik"

################################################################
# Consul Catalog configuration backend
################################################################

[consulCatalog]
endpoint = "127.0.0.1:8500"
domain = "{{ public_domain }}"
prefix = "traefik"
exposedByDefault = false
watch = true

################################################################
# Static configuration backend
################################################################

[file]

[backends]
  [backends.backend-traefik]
    [backends.backend-traefik.servers.{{ inventory_hostname }}]
    url = "http://{{ inventory_hostname }}:8080"
    [backends.backend-traefik.healthcheck]
    path = "/ping"
    interval = "10s"
    port = 8080

[frontends]
  [frontends.frontend-traefik]
  backend = "backend-traefik"
  passHostHeader = true
    [frontends.frontend-traefik.routes.route-host-traefik]
    rule = "Host:traefik-http.{{ public_domain }}"
