# {{ansible_managed}}

[Unit]
Description=Consul

[Service]
Type=simple
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -config-dir /etc/consul.d
Restart=always

[Install]
WantedBy=multi-user.target
